$f7: #f7f7f7
$shadow: 5px 8px 15px 0px  rgba(222, 222, 222, 0.5)
body
  background: $f7

.text_overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.li_hover
  transition: all .3s ease 0s
  transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -webkit-transform: translate3d(0, 0, 0)
  &:hover
    box-shadow: $shadow
    transition: all .3s ease 0s
    transform: translate3d(0, -10px, 0)
    -moz-transform: translate3d(0, -10px, 0)
    -webkit-transform: translate3d(0, -10px, 0)

.list_box
  .list_h3
    font-family: MicrosoftYaHei
    font-size: 18px
    font-weight: normal
    font-stretch: normal
    letter-spacing: 0px
    color: #3476f0
    padding: 10px 20px
    a
      display: inline-block
      float: right
      background-color: #fff
      border-radius: 5px
      border: solid 1px #3476f0
      width: 45px
      height: 22px
      text-align: center
      font-size: 14px
      &:hover
        background: #3476f0
        color: #fff
  .swiper_box
    height: 408px

  .arc_list
    background-color: #ffffff
    box-shadow: $shadow
    border-radius: 10px
    padding: 20px 20px 20px 10px
    .new
      background: url(../img/news.png)  no-repeat top left
    li
      &:hover
        cursor: pointer
        background: #e4effe !important
      a
        display: inline-block
        max-width: 80%
        font-family: SimSun
        font-size: 14px
        font-weight: normal
        font-stretch: normal
        letter-spacing: 0px
        color: #000000
        line-height: 26px
        @extend .text_overflow
        padding: 0 0 0  10px

      span
        float: right
        font-family: SimSun
        font-size: 14px
        font-weight: normal
        font-stretch: normal
        letter-spacing: 0px
        color: #000
        line-height: 26px
  .action_box
    background-color: #ffffff
    box-shadow: $shadow
    border-radius: 10px
    padding: 20px
    .link_item

// 每一块
.warp_box
  padding: 0 20px  30px
.flist_box
  background-color: #ffffff
  box-shadow: $shadow
  border-radius: 10px
  padding: 20px
.fist_arc
  box-shadow: none !important
  padding: 0 0px 0 10px !important
