@function rem($px)
    $rem: 75px
    @return ($px / $rem)+rem
.warp_box
    padding: rem(20px)
    h3
        text-align: center
        padding: rem(10px) rem(20px)
        line-height: rem(40px)
    .pepe_form
        padding: rem(20px)  0
        position: relative
        .action
            position: absolute
            top: rem(20px)
            right: rem(30px)
            border: 1px solid #999
            border-radius: 50%
            color: #999
            z-index: 999

    .from_item
        position: relative
        margin: 0 0 rem(35px) 0
        .item_grop
            .name_title
                padding: 0 0 0 rem(20px)
                font-size: rem(30px)
                line-height: rem(60px)
            input,select
                margin-bottom: 0
        .action
            position: absolute
            top: rem(1px)
            right: rem(30px)
            border: 1px solid #999
            border-radius: 50%
            color: #999
            z-index: 999
    textarea
        // height: rem(60px)
        border: 1px solid rgba(0,0,0,.2)
        border-radius: 5px
        background: #fff
        padding: rem(10px)
    .btn_box
        width: 100%
        background: #1890ff
        color: #fff
        line-height: rem(80px)
        height: rem(80px)
        border-radius: 10px
        text-align: center
        font-size: rem(40px)
        font-weight: 500
        margin: rem(20px) auto
        &:active
            background: #273949
