body {
  background: #f7f7f7;
}

.text_overflow, .list_box .arc_list li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.li_hover {
  transition: all .3s ease 0s;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.li_hover:hover {
  box-shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5);
  transition: all .3s ease 0s;
  transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -webkit-transform: translate3d(0, -10px, 0);
}

.list_box .list_h3 {
  font-family: MicrosoftYaHei;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #3476f0;
  padding: 10px 20px;
}

.list_box .list_h3 a {
  display: inline-block;
  float: right;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #3476f0;
  width: 45px;
  height: 22px;
  text-align: center;
  font-size: 14px;
}

.list_box .list_h3 a:hover {
  background: #3476f0;
  color: #fff;
}

.list_box .swiper_box {
  height: 408px;
}

.list_box .arc_list {
  background-color: #ffffff;
  box-shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5);
  border-radius: 10px;
  padding: 20px 20px 20px 10px;
}

.list_box .arc_list .new {
  background: url(../img/news.png) no-repeat top left;
}

.list_box .arc_list li:hover {
  cursor: pointer;
  background: #e4effe !important;
}

.list_box .arc_list li a {
  display: inline-block;
  max-width: 80%;
  font-family: SimSun;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
  line-height: 26px;
  padding: 0 0 0  10px;
}

.list_box .arc_list li span {
  float: right;
  font-family: SimSun;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000;
  line-height: 26px;
}

.list_box .action_box {
  background-color: #ffffff;
  box-shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.warp_box {
  padding: 0 20px  30px;
}

.flist_box {
  background-color: #ffffff;
  box-shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.fist_arc {
  box-shadow: none !important;
  padding: 0 0px 0 10px !important;
}
