.side_warp {
  width: 300px;
}

.side_tab ul {
  background-image: linear-gradient(0deg, #dfe9f3 0%, #fcfdfe 100%), linear-gradient(#000000, #000000);
  background-blend-mode: normal, normal;
  border-radius: 2px;
  overflow: hidden;
}

.side_tab ul li {
  box-sizing: border-box;
  width: 25%;
  border-left: -1px solid #bfcfe1;
  border-right: 1px solid #bfcfe1;
}

.side_tab ul li a {
  display: block;
  line-height: 25px;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  letter-spacing: 0px;
  color: #333333;
}

.side_tab ul li a:hover, .side_tab ul li a.active {
  background-image: linear-gradient(0deg, #3c89c6 0%, #52a1e4 100%), linear-gradient(#3e8ac8, #3e8ac8);
  background-blend-mode: normal, normal;
  color: #fff;
  border: transparent;
}
