.artc_box {
  box-sizing: border-box;
  border: 1px solid #000;
  margin: 0 auto;
  width: 596px;
  height: 500px;
}

.fujian a {
  display: block;
  padding: 0 0 0 20px;
  color: #1890ff;
  line-height: 24px;
}

.title h3 {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.title h4 {
  text-align: center;
  line-height: 24px;
}

.sma_msg {
  text-align: center;
  line-height: 20px;
  color: #888;
}

.conts {
  padding: 10px  20px;
}
