.sider_warp {
  position: fixed;
  left: 0;
  top: 150px;
  width: 210px;
  height: 100%;
  background: #2e3e76;
}

.sider_top {
  padding: 40px 0 0 0;
}

.sider_top .sider_img_box {
  text-align: center;
  margin: 0 0 10px 0;
}

.sider_top .sider_img_box img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.sider_top p {
  font-family: MicrosoftYaHei;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fefefe;
  line-height: 24px;
  text-align: center;
}

.sider_pooject {
  margin: 36px 0 0 0;
  font-family: MicrosoftYaHei;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #fefefe;
  line-height: 40px;
  text-align: center;
}

.sider_pooject img {
  max-height: 24px;
}

#dy_nav .layui-side {
  position: fixed;
  left: 0;
  top: 396px;
  bottom: 0;
  z-index: 999;
  width: 210px;
  overflow-x: hidden;
}

#dy_nav .layui-nav {
  background: none !important;
}

#dy_nav .layui-nav-tree {
  width: 210px;
}

#dy_nav .layui-nav-tree .layui-nav-item a:hover {
  background-color: #2c6ce1;
}

#dy_nav .layui-nav-tree .layui-nav-child dd.layui-this, #dy_nav .layui-nav-tree .layui-nav-child dd.layui-this a, #dy_nav .layui-nav-tree .layui-this, #dy_nav .layui-nav-tree .layui-this > a, #dy_nav .layui-nav-tree .layui-this > a:hover {
  background-color: #2c6ce1;
  color: #fff;
}
